
html{
    font-size: 20px;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
    padding: 4px;
    background-color: rgb(11, 16, 39) ;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* section */

section{
    width: 95%;
}

.section-heading h4{
    margin: 0px;
}

.section-heading{
    margin: 10px;
    margin-left: 0px;
}

/* navigaiton bar */

#navigation-bar
{
    z-index: 20;
    background-color:  rgb(11, 16, 39);
    position: fixed;
    top: 0px;
    right: 4px;
    left: 4px;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 3px solid black;
}

.branding{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

#logo-img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#logo-name{
    margin-left: 10px ;
    font-weight: 500;
    font-size: 1.4em;
}

#fav-btn{
    margin-left: auto;
    font-weight: 100;
}

#search-bar-container{
    width: 35%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    justify-content: space-between;
}

#search-bar-div{
    position: relative;
    background-color: rgb(17, 25, 63);
    padding: 5px;
    width: 60%;
    height: 30px;
    border-radius: 15px;
}

#search-bar{
    background-color: rgb(17, 25, 63);
    width: 90%;
    border: 0px;
    color: white;
    font-size: 0.8em;
    height: 100%;
}

#search-btn{
    position: absolute;
    top: 8px;
    right: 10px;
    margin-left: auto;
    font-size: 1.1em;
}

.bell-logo{ 
    font-size: 1.4em;
    color: white;
}

#prof-pic{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* Main container */

.main-container{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    width: 85%;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* main carousel display */

.image-carousel{
    width: 95%;
    position: relative;
    height: 40vh;
}

.car-pos{
    width: 55%;
    height: 33vh;
    position: absolute;
}

.img-car-size{
    width: 100%;
    height: 100%;
}

.car-1{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: absolute;
    transition: all 1s ease-in-out;
}

.car-1:hover{
    box-shadow: 0px 0px 10px 10px black;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    z-index: 2;
    transform: scale(1.2);
}

.car-2{
    box-shadow: 0px 0px 10px 10px black;
    position: absolute;
    left: 20%;
    transform: scale(1.1);
    z-index: 1;
    transition: all 1s ease-in-out;
    box-shadow: 1px;
}

.car-2:hover{
    transform: scale(1.2);   
}

.car-3{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: absolute;
    right: 0%;
    transition: all 1s ease-in-out;
}

.car-3:hover{
    box-shadow: 0px 0px 10px 10px black;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    z-index: 2;
    transform: scale(1.2);
}

.car-3:hover ~ .car-2{
    box-shadow: 0px 0px 0px 0px black;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: scale(1);
}

.car-1:hover ~ .car-2{
    box-shadow: 0px 0px 0px 0px black;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: scale(1);
}


/* latest release setion */

.latest-release{
    width: 100%;
}

.latest-release-container{
    display: flex;
    flex-wrap: wrap;
}

.latest-release-song{
    margin-right: 10px;
    background-color: rgb(11, 16, 39);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    padding-left: 0px;
    width: 45%;
}

/* .latest-release-song:hover{
    box-shadow: 0px 0px 10px 10px black;
    transition: all 0.5s ease-in-out;
    z-index: 3;
} */


.latest-release-img{
    width: 100%;
    height: 100%;
}

.latest-release-img-container{
    width: 30%;
    height: auto;
}

.latest-release-utility{
    position: relative;
    margin-left: auto;
    align-self: flex-start;
}

.latest-song-details{
    margin-left: 20px;
}

.latest-song-details h5{
    margin: 15px;
    margin-top: 0px;
    font-weight: 500;
    font-style: 0.8em;
}
.latest-song-details p{
    font-weight: 100;
    font-size: 0.6em;
    margin: 15px;
    color: slategray;
}

.latest-release-utility span{
    margin-left: 4px;
    font-size: 0.9em;
}


.flap-container:hover .flap{
    min-width: 180px;
    max-width: 300px;
    z-index: 2;
    box-shadow: 0px 0px 10px 10px black;
}



.flap{
    max-width: 0px;
    overflow: hidden;
    position: absolute;
    top: 30%;
    right: 0px;
    background-color: white;
    color: black;
}

.flap a{
    font-size: 0.8em;
    display: block;
    margin: 2px;
    padding: 2px;
}

.latest-release-utility p{
    font-size: 0.6em;
    color: slategray;
}

/* popular artist */

.artist-containter{
    box-sizing: border-box;
    background-color: rgb(11, 16, 39);
    padding: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.artist{
    width: 15%;
    display: flex;
    flex-direction: column;
}

.artist:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    
}

.artist-image-container{
    width: 100%;
}

.artist-image{
    width: 100%;
    border-radius: 50%;
}

.artist-image:hover{
    box-shadow: 0px 0px 10px 10px black;
}

.artist-name{
    margin: auto;
}

.artist-name h5{
    font-size: 0.7em;
    font-weight: 300;
    margin: 0px;
}

/* genre section */

.genre{
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 25, 63);
}

.genre-logo-heading-container{
    width: 13%;
    margin: 15px;
    margin-left: 0px;
    margin-right: 30px;
}

.genre-heading-logo{
    width: 100%;
}

.genre-logo-container{
    width: 9%;
}

.genre-logo{
    width: 100%;
    border-radius: 50%;
}

.genre-logo-name
{
    margin: 0px;
    text-align: center;
    font-size: 0.7em;
}

/* Genre extended */

.genre-extend{
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.genre-extended-container{
    position: relative;
    width: 30%;
}


.genre-extend-img{
    filter: blur(1px);
    -webkit-filter: blur(1px);
    width: 100%;
}

.genre-extended-container p{
    text-shadow: 0px 5px 5px black;
    font-weight: 500;
    position: absolute;
    transform: translate(-50%, -100%);
    top: 50%;
    left: 50%;
}


/* Latest english hindi */

.latest-EH-container{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.latest-song-EH{
    width: 15%;
}

.latest-song-EH-img-container{
    width: 100%;
    height: auto;
}

.latest-song-EH-img{
    width: 100%;
    height: auto;
}

.latest-song-EH-details h5{
    margin: 0px;
    font-size: 0.65em;
    font-weight: 400;
    margin-bottom: 4px;
}

.latest-song-EH-details p{
    margin: 0px;
    font-size: 0.6em;
    color: slategray;
}

/* @media screen and (max-width: 1200px) {

    .artist-containter{
        overflow: hidden;
        flex-wrap: wrap;
    }

    .artist{
        width: 15%;

    }

    .main-container{
        width: 95%;
    }
    .main-content{
        width: 100%;
    }

}

@media screen and (max-width: 768px)
{

    .artist-containter{
        overflow: hidden;
        flex-wrap: wrap;
    }

    .artist{
        width: 30%;
        margin-bottom: 20px;
    }

    .latest-release-song{
        width: 100%;
    }
} */