html{
    font-size: 20px;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(11, 16, 39) ;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.margin-bottom-130px{
    margin-bottom: 130px;
}

aside{
    width: 30%;
}

/* section */

section{
    width: 95%;
}

.section-heading h4{
    margin: 0px;
}

.section-heading{
    margin: 10px;
    margin-left: 0px;
}

/* navigaiton bar */

#navigation-bar
{
    width: 100%;
    z-index: 20;
    background-color:  rgb(11, 16, 39);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    align-items: center;
    padding: 10px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 2px solid black;
}

#menu-btn{
    font-size: 1.2em;
    display: none;
    margin-left: auto;
    margin-right: 5px;
}

.nav-main{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu-bar-drop{
    width: 95%;
    overflow: hidden;
    max-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease-in-out;
    margin-right: 5px;
}

.label-menu-check{
    margin-right: 10px;
}

#menu-chk{
    display: none;
}

.branding{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

#logo-img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#logo-name{
    margin-left: 10px ;
    font-weight: 500;
    font-size: 1.4em;
}

#fav-btn{
    margin-left: 30px;
    font-weight: 100;
}

#search-bar-container{
    width: 45%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0px;
    justify-content: space-between;
}

#search-bar-div{
    position: relative;
    background-color: rgb(17, 25, 63);
    padding: 5px;
    width: 60%;
    height: 30px;
    border-radius: 15px;
}

#search-bar{
    margin-left: 8px;
    outline: none;
    background-color: rgb(17, 25, 63);
    width: 90%;
    border: 0px;
    color: white;
    font-size: 0.8em;
    height: 100%;
}

#search-btn{
    position: absolute;
    top: 8px;
    right: 5px;
    margin-left: auto;
    font-size: 1.1em;
}

.bell-logo{ 
    font-size: 1.4em;
    color: white;
}

#prof-pic{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* Main container */

.main-container{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    width: 85%;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    display: flex;
    flex-direction: column;
}


/* Header Popular Artist Container */

.color-selected{
    background-color: rgb(20, 27, 65);
}

.primary-artist-container{
    display: flex;
    width: 100%;
}

.primary-artist-img-container{
    width: 40%;
}
.primary-artist-img{
    width: 100%;
    height: 100%;
}

.primary-artist-details-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 0px;
    padding: 0px 30px;
}

.primary-artist-details-header{
    display: flex;
    justify-content: space-between;
}

.primary-artist-name h3{
    margin: 0px;
    font-weight: 500;
}

.primary-artist-name h5{
    margin: 0px;
    margin-top: 5px;
    font-weight: 100;
    font-size: 0.7em;
    color: lightgray;
}

.primary-artist-followers h5{
    margin: 0px;
    margin-top: 5px;
    font-weight: 100;
    font-size: 0.6em;
    color: lightgray;
} 

.primary-artist-details-body p{
    margin: 0px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 0.6em;
    color: lightgray;
}

.primary-artist-details-Footer{
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    justify-content: flex-start;
}

.primary-artist-play-button-container{
    width: 40%;
}

.primary-artist-btn{
    width: 80%;
    padding: 5px;
    background: linear-gradient(to right,blue,purple);
    border: 0px;
    color: white;
    font-size: 0.7em;
}

.primary-artist-btn + p{
    width: 80%;
    text-align: center;
    font-size: 0.6em;
}


/* Popular artist songs List */

.color-selected-song{
    background-color: rgb(26, 30, 51);
}

.popular-artist-songs-list{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.popular-artist-song{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    transition: all 0.5s ease-in;
}

.popular-artist-song:hover{
    transform: scaleY(1.05);
    box-shadow: 0px 0px 10px 5px black;
}

.popular-a-song-img-container{
    width: 5%;
    margin-left: 20px;
    padding-top: 5px;
    
}

.popular-a-song-img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 6px 1px slategray;
}

.popular-a-song-details{
    margin-left: 20px;
}

.popular-a-song-details p{
    margin: 5px;
    color: slategray;
    font-size: 0.7em;
}

.popular-a-song-details h4{
    font-weight: 500;
    font-size: 0.8em;
    margin: 5px;
}

.fav-icon-pop-art{
    margin-left: auto;
}

.fav-icon-pop-art i{
    color: slategray;
    font-size: 0.8em;
    margin: 0px 20px;
}

.numbering{
    color: slategray;
    margin-left: 10px;
    font-size: 0.6em;
}


/* Similar artist */

.similar-artist-section{
    width: 100%;
}

.artist-container{
    box-sizing: border-box;
    background-color: rgb(11, 16, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 120px;
}

.artist{
    padding-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.artist-container a{
    color: inherit; 
    text-decoration: none;
    text-align: center;
}

.artist-heading{
    text-align: center;
}

.artist:hover{

    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.artist-image-container{
    width: 100%;
}

.artist-image{
    width: 100%;
    border-radius: 50%;
}

.artist-image:hover{
    box-shadow: 0px 0px 10px 10px black;
}

.artist-name{
    text-align: center;
    margin: auto;
}

.artist-name h5{
    font-size: 0.7em;
    font-weight: 300;
    margin: 0px;
}

/* Footer play bar */

/* properties taken from queue section */
.queue-section{
    width: 30%;
    display: flex;
    flex-direction: column;
}


.queue-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.queue-flap{
    position: relative;
    color: green;
    font-size: medium;
}

.queue-flap-body{
    opacity: 0.7;
    max-width: 0px;
    overflow: hidden;
    position: absolute;
    right: 10%;
    color: black;
    background-color:white;
}

.queue-flap-body div{
    padding: 10px;
}

.queue-flap:hover .queue-flap-body{
    min-width: 200px;
    max-width: 300px;
}

.queue-songs-list{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.queue-song{
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}


.queue-img-container{
    margin-left: 30px;
    width: 13%;
    box-shadow: 0px 0px 10px 1px grey;
}

.queue-img{
    width: 100%;
}

.queue-song-details{
    margin-left: 30px;
    align-self: flex-start;
}

.queue-song-details p{
    margin: 5px;
    color: slategray;
    font-size: 0.7em;
}

.queue-song-details h4{
    font-weight: 500;
    font-size: 0.8em;
    margin: 5px;
}

.numbering{
    font-size: 0.7em;
    color: slategray;
}

.fav-icon{
    margin-left: auto;
    color: slategray;
    font-size: 0.9em;
}

.playing{
    font-size: 0.8em;
    color: blue;
}

.play-bar{
    z-index: 5;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(40, 40, 40);
}

.footer-container{
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.playing-song{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.playing-song-img-container{
    width: 25%;
    margin-right: 10px;
}

.playing-song-img{
    min-width: 45px;
    width: 100%;
}

.playing-song-details{
    margin-right: 20px;
}

.playing-song-details h4{
    margin: 0px;
    font-weight: 200;
    font-size: 0.9em;
}

.playing-song-details p{
    margin: 0px;
    font-weight: 100;
    font-size: 0.8em;
    color: slategray;
}

.fav-icon-bar{
    display: flex;
    justify-items: space-between;
}

.fav-icon-bar i{
    margin: 2px;
    font-size: 0.8em;
    color: slategray;
}

.footer-controls{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.footer-controls-button{
    width: 100%;
    padding-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-size{
    font-size: 0.8em;
}

#play{
    font-size: 1.1em;
}

#pause{
    font-size: 1.1em;
    display: none;
}

#play-pause{
    display: none;
}

#play-pause:checked + label #play{
    display: none;
}
#play-pause:checked + label #pause{
    display: block;
}

.footer-controls-progress{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-controls-progress input[type="range"]{
    width: 80%;
}

.vol-control{
    width: 50%;
}

.footer-controls-progress p{
    color: slategray;
    font-size: 0.8em;
}

.sound-controls{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*Bottom Queue Section VISIBLE ON ALL DEVICES*/


.queue-bottom-section{
    transition: all 0.5s ease-in-out;
    max-height: 0px;
    overflow: hidden;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.queue-bottom-section .queue-songs-list{
    width: 100%;
    align-items: center;
    margin-top: 0px;
}

.queue-bottom-section .queue-song{
    box-sizing: border-box;
    padding: 5px;
    width: 90%;
}

.queue-bottom-section .queue-img-container{
    width: 5%;
    margin-left: 0px;
}

.playing-icon{
    color: blue;
}

.playing-now{
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px white;
}

#queue-chk{
    display: none;
}


.queue-open{
    font-size: 0.9em;
    margin-left: 5px;
    color: green;
}

#queue-chk:checked + .queue-bottom-section {
    overflow: scroll;
    max-height: 40vh;
}

/* Media Queries */

/* For general responsive design and iPad pro */

@media screen and (max-width: 1200px) {

    .main-container{
        width: 95%;
    }
    .main-content{
        width: 60%;
    }
    .aside-section{
        width: 40%;
    }

    .playing-song{
        display: none;
    }

    .artist{
        padding-top: 30px;
        padding-right: 0px;
        min-width: 35%;
        width: 35%;
    }

}

/* For landscape view on an iPad */

@media screen and (max-width: 900px)
{

    #menu-btn{
        display: block;
    }

    #menu-chk:checked + .menu-bar-drop{
        max-height: 80vh;
    }

    .playing-song{
        display: none;
    }

    .queue-open{
        display: block
    }

    .main-container{
        margin-top: 100px;
    }

    .main-content{
        width: 100%;
    }

    section{
        width: 100%;
    }

    #logo-name{
        display: none;
    }
    
    #fav-btn{
        display: none;
    }

    .bell-logo{
        display: none;
    }

    #search-bar-container{
        width: 100%;
    }

    #search-bar-div{
        width: 75%;
    }

    #search-bar{
        outline: none;
        width: 85%;
    }

    #logo-img{
        width: 50px;
        height: 50px;
    }

    #prof-pic{
        height: 50px;
        width: 50px;
    }

    .queue-section{
        display: none;
    }


    .popular-artist-songs-list{
        margin-bottom: 20px;
    }

    .aside-section{
        width: 100%;
    }

    .main-container{
        flex-direction: column;
    }

    .artist-container{
        padding: 20px 10px;
        width: 100%;
        flex-direction: row;
        overflow: scroll;
    }

    .artist-heading{
        text-align: left;
        padding-left: 10px;
    }

    .artist{
        padding: 20px 0px;
        margin-right: 30px;
        min-width: 15%;
        width: 15%;
    }

}

/* For iPad and below adjustment of some divisions */

@media screen and (max-width:786px){

    #search-bar-div{
        width: 65%;
    }

    #prof-pic{
        height: 35px;
        width: 35px;
    }

    #logo-img{
        width: 35px;
        height: 35px;
    }

    .artist{
        padding: 20px 0px;
        margin-right: 30px;
        min-width: 30%;
        width: 30%;
    }

    .footer-controls{
        width: 55%;
    }

    .sound-controls{
        width: 15%;
    }

    .vol-control{
        display: none;
    }

    #volume-dwn{
        display: none;
    }

    #volume-up{
        display: none;
    }

    .aside-section{
        width: 100%;
    }

    .artist-container{
        width: 100%;
        flex-direction: row;
        overflow: scroll;
    }

    .artist-heading{
        text-align: left;
    }

    .popular-artist-songs-list{
        margin-bottom: 20px;
    }

    .main-container{
        flex-direction: column;
    }

}

/* For screens less than 600px the Popular artist section is vertically aligned */

@media screen and (max-width:600px)
{

    .primary-artist-img-container{
        align-self: center;
        padding: 20px 0px;
        border-radius: 50%;
    }

    .primary-artist-img{
        border-radius: 50%;
    }

    .primary-artist-container{
        flex-direction: column;
    }

    .primary-artist-details-container{
        width: 100%;
    }

    .primary-artist-play-button-container{
        width: 60%;
    }
}